<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />

                <rule name="redirect http to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/pathways/blackhistory/{R:1}" />
                </rule>

                <rule name="Redirect spelling error 2" stopProcessing="true">
                    <match url="africa_caribbean/caribbean_resistence.htm" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/pathways/blackhistory/africa_caribbean/caribbean_resistance.htm" />
                </rule>


            </rules>
        </rewrite>
    </system.webServer>
</configuration>
